nav {
  position: fixed;
	z-index: 1000;
	background-color: white;
	height: 88px;
	line-height: 88px;
}

.parallax-container {
  z-index: 100;
  height: 975px;
}

li .active {
  border-bottom-style: solid !important;
  border-bottom-color: #ff6600;
}

.lateralpanelparallax {
	height: 100%;
  background-color: rgba(0, 48, 91, 0.6);
  width: 600px;
	margin-top: 88px;
}

.card-content {
	padding-top: 10px !important;
	padding-bottom: 5px !important;
}

.legend {
	background: rgba(255, 255, 255, 0.5) !important;
	opacity: 1 !important;
	left: 0px !important;
	margin-left: 0px !important;
	width: 100% !important;
	border-radius: 0px !important;
	padding-bottom: 30px !important;
	padding-top: 10px !important;
	bottom: 0px !important;
	font-size: 15px !important;
	color: black !important;
}

.dot {
	background: #ff6600 !important;
}

.control-prev.control-arrow:before {
	border-right-color: #ff6600 !important;
}

.control-next.control-arrow:before {
	border-left-color: #ff6600 !important;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255,102,0,1);
  outline: 1px solid slategrey;
}

#dot {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: #ff6600;
}

input:focus {
  border-bottom: 1px solid #ff6600 !important;
  box-shadow: 0 1px 0 0 #ff6600 !important;
}

input {
  border-bottom: 1px solid #0066cc !important;
}

.rt-thead.-header {
  background-color: #a09fa2 !important;
}

.ReactTable {
  border-color: #a09fa2 !important;
}

.ReactTable > .rt-table {
  background: rgba(239, 252, 251, 0.1) !important;
}

.pagination-bottom {
  background-color: #a09fa2 !important;
  height: 50px !important;
}

.-pagination input {
  padding: 0px !important;
}

.-pagination {
  height: 50px !important;
}

.-btn {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
}

.-pageInfo {
  height: 48px !important;
}

.card-title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.modalProjectDetail {
  width: 85% !important;
  top: 5% !important;
  max-height: 90% !important;
}

.cellphone .carousel-slider  {
  height: 24vh !important;
}

.desktop .carousel-slider  {
  height: 350px !important;
}

.slider li {
  background: #fafafa !important;
}
